form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 1rem;
}

label {
  font-size: 1rem;
  margin-left: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.125rem #ddd;
  font-size: 1.2rem;
}

textarea {
  height: 5rem;
}

button[type="submit"] {
  background-color: #008080;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005757;
}

.invalid label {
  color: #ca3e51;
}
.invalid {
  margin-bottom: 2rem;
}

.invalid input,
.invalid textarea {
  color: #ca3e51;
  background-color: #ffeff1;
  margin-bottom: 0rem;
}

.valid input,
.valid textarea {
  background-color: #fff;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.successMessage {
  color: #1e8529;
  margin-top: 0.5rem;
  text-align: center;
}
.errorMessage {
  color: #ca3e51;
  position: absolute;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  form {
    padding: 0rem 2rem 1rem 0.7rem;
  }
  .title {
    padding: 0.5rem 0rem 0rem 2.3rem;
  }
  input,
  textarea {
    border: 1px solid #008080;
  }

  .errorMessage {
    text-align: center;
    margin: 0.5rem auto;
    position: static;
    left: 0;
  }


  .invalid {
    margin-bottom: 0rem;
  }
}